---
import Main from "@/layouts/Main.astro";
import Hero from "@/components/Hero.astro";
import Partidos from "@/components/Partidos.vue";
import Noticias from "@/components/Noticias.astro";
import Image from "@/components/Image.astro";
import { url } from "@/utils/url";
---

<Main title="Inicio" class="main-content">

  <Hero />
  
  <section class="section partidos-proximos py-5 bg-balls">
    <div class="container">
      <h2 class="text-warning text-center pb-3">Próximos Partidos</h2>
      <Partidos proximos={true} anteriores={false} client:load cantidad={6} />
    </div>
  </section>

  <section class="section noticias py-5 bg-light">
    <div class="container">
      <h2 class="text-primary text-center pb-3">NOTICIAS</h2>
      <Noticias cantidad={3} showPagination={false} />
      <div class="text-center mt-4">
        <a href={url("/blog")} class="btn btn-primary btn-lg">Ver todas las noticias</a>
      </div>
    </div>
  </section>

  <section class="section somos-gigantes py-5 bg-dark text-light">
    <div class="container">
      
      <div class="row">
        <div class="col-md-6">
          <Image name="chica.png" alt="Quiénes Somos" class="img-fluid" />
        </div>
        <div class="col-md-6">
          <h2 class="text-secondary pb-3">Quiénes Somos</h2>
            <p>Cuenta la leyenda que en el Cerro del Muerto reposa un Gigante Ancestral, un guardián que despierta cuando Aguascalientes necesita ser defendido.</p>
            <p class="mt-3">Ese espíritu vive hoy en nuestro equipo: jugadoras y jugadores que se elevan, luchan y protegen esta tierra como el Gigante que la vigila desde la montaña. Nuestros colores azules nacen del cielo claro de Aguascalientes y del manto protector de la Virgen de la Asunción, símbolos de fe, identidad y esperanza que nos han acompañado por generaciones.</p>
            <p class="mt-3">
              Somos <b class="text-warning">Gigantes de Aguascalientes</b>: la leyenda que despierta para defender, con orgullo, entrega y pasión, esta tierra noble y bondadosa.
          </p>
          
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <div class="card p-2">
            <h2 class="text-primary text-center">Misión</h2>
            <img src="/assets/images/mision.png" alt="Patrocinador" class="card-img my-3" />
            <p class="card-text text-center">Nuestra <b>misión</b> es convertir a <b>Gigantes</b> en <b>orgullo de Aguascalientes</b>, la tierra donde nace el talento deportivo que inspira al mundo.</p>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p-2">
            <h2 class="text-primary text-center">Visión</h2>
            <img src="/assets/images/vision.png" alt="Patrocinador" class="card-img my-3" />
            <p class="card-text text-center">Nuestra visión es hacer del voleibol en <b>Aguascalientes</b> un <b>motor de sueños</b>, formando generaciones que transformen el futuro del deporte en México y el mundo.</p>
        </div>
        <div class="col-md-2">
        </div>
 
      </div>
      
    </div>
  </section>

  <section class="section partidos-anteriores py-5 bg-strokes">
    <div class="container">
      <h2 class="text-warning text-center pb-3">Partidos Jugados</h2>
      <Partidos proximos={false} anteriores={true} client:load cantidad={6} />
      <div class="text-center mt-4">
        <a href={url("/resultados")} class="btn btn-warning btn-lg">Resultados</a>
      </div>
    </div>
  </section>

</Main>


<style>
  .card-img{
    width: auto;
    height: 133px;
    object-fit: contain;
  }
</style>